//
// Pulldown
// -----------------------------------


//
// Pulldown body
//

.pulldown {
  display: inline-block;
  position: relative;
}


//
// Pulldown content
//

.pulldown-content {
  display: none;
  width: 200px;
  box-shadow: $base-shadow;
  background-color: #fff;
  border-radius: $base-border-radius-small;
  padding: .5rem 1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -100px;
  cursor: default;
  z-index: 15999;

  .pulldown:hover & {
    display: block;
  }
}
