//
// Variables
// -----------------------------------


//
// Size
//

$base-size: 16px !default;


//
// Layout
//

$base-layout-inner-width:       1200px !default;
$base-layout-inner-width-small: 640px !default;
$base-layout-inner-width-full:  100% !default;


//
// Breakpoint
//

$base-breakpoint-medium: 769px !default;
$base-breakpoint-large:  1200px !default;
$base-breakpoint-xlarge: 1600px !default;


//
// Typography
//

$base-font-stack:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$base-font-stack-jp:   "Hiragino Sans", "Meiryo", sans-serif !default;
$base-font-stack-code: monospace, monospace !default;

$base-font-size:            1rem !default;
$base-font-size-small:      .875rem !default;
$base-font-size-xsmall:     .75rem !default;
$base-font-size-xxsmall:    .625rem !default;
$base-font-size-medium:     1.25rem !default;
$base-font-size-large:      1.5rem !default;
$base-font-size-large-ja:   1.375rem !default;
$base-font-size-xlarge:     2rem !default;
$base-font-size-xlarge-ja:  1.875rem !default;
$base-font-size-xxlarge:    2.625rem !default;
$base-font-size-xxlarge-ja: 2.5rem !default;
$base-font-size-huge:       3rem !default;
$base-font-size-huge-ja:    2.875rem !default;
$base-font-size-xhuge:      3.5rem !default;
$base-font-size-xhuge-ja:   3.375rem !default;
$base-font-size-xxhuge:     4rem !default;
$base-font-size-xxhuge-ja:  3.875rem !default;
$base-line-height:          1.5 !default;
$base-line-height-jp:       1.8 !default;
$base-font-weight:          400 !default;
$base-font-weight-medium:   500 !default;
$base-font-weight-semibold: 600 !default;
$base-font-weight-bold:     700 !default;
$base-font-weight-bolder:   800 !default;


//
// Color
//

$base-color-brand:          #ff6e40 !default;
$base-color-text:           #333 !default;
$base-color-link:           #ff5722 !default;
$base-color-light:          #f2f2f2 !default;
$base-color-code:           #e91e63 !default;
$base-color-border:         #eee !default;
$base-color-button-border:  #ddd !default;
$base-color-primary:        #448aff !default;
$base-color-secondary:      #90a4ae !default;
$base-color-success:        #69f0Ae !default;
$base-color-danger:         #ff5252 !default;
$base-color-warning:        #ffd740 !default;
$base-color-dark:           #263238 !default;


//
// Border
//

$base-border-radius:       6px !default;
$base-border-radius-small: 4px !default;
$base-border-radius-large: 8px !default;


//
// Shadow
//

$base-shadow:        0 0 1px rgba(0,0,0,.26) !default;
$base-shadow-active: 0 2px 4px rgba(0,0,0,.18) inset !default;


