/*! UNY CSS Framework @1x | unycss.com | Copyright 2017 kokushin | MIT license */

@import "../core/variables.scss";
@import "../core/mixins.scss";

//
// Corporate theme
// -----------------------------------


.header {
  .menu {
    margin-right: auto;
    margin-left: 2.5rem;
  }
}


.corporate-logo {
  font-size: 3rem;
  font-style: italic;
  margin-bottom: -1.5rem;

  @include screen-medium() {
    font-size: 6.25rem;
  }
}
